/*=======================================
=           Careers Job Listing         =
========================================*/

.ht-simple-job-listing {
    & .item {
        border-radius: 5px;
        padding: 33px 50px 36px;
        &:nth-child(2n) {
            background: #F8F8F8;
        }
        .job-info {
            .job-name{
                font-weight: bold;
                font-size: 22px;
                font-family: Cerebrisans;
                color: #393E4A;
            }
            .job-time {
                font-size: 14px;
                margin-top: 12px;
                display: block;
                color: #686E7B;
            }
        }
        .job-button {
            & .ht-btn {
                min-width: 155px;
                font-size: 15px;
                font-family: Cerebrisans;
                color: #FFFFFF;
            }
        }
        @media #{$large-mobile}{
            padding: 30px;
            .job-description {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 400;
                font-family: Cerebrisans;
                color: #393E4A;
            }
            .job-button {
                margin-top: 20px;
            }
        }
    }
}















