.main_ts_carousel{
  background-color: $theme-color--default;

  .carousel-indicators {
    display: flex;
    align-items: center;

    li{
      width: 9.12px;
      height: 9.12px;
      border-radius: 50%;
    }

    .active{
      width: 13px;
      height: 13px;
      background-color: #FDD302;
    }

  }

  .banner_carousel{
    height: 420px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 550px){
    .banner_carousel{
      height: 200px;
      background-position: 60%;
    }
  }

  .carousel-form{
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.divider{
  border-left: 2px solid #707070;
  height: 40px;
}

.main_ts_diferencias{
  background-color: #FDD302;
  height: 98px;

  ul{
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    align-items: center;
    height: 98px;

    li {

      & img{
        width: 100%;
      }
    }
    @media (max-width: 550px){
      li{
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 550px){
  .main_ts_diferencias{
    height: auto;
  }
}

.main_info{
  background-image: url('../images/bg/home/background-01.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 445px;

  h2{
    margin: 37px 160px 52px;
    text-align: center;
    font: normal normal bold 32px/45px Overpass;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li{
      display: flex;
      align-items: center;
      margin-right: 56px;

      span{
        text-align: left;
        font: normal normal bold 16px/18px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100px;
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 550px){
    h2{
      font-size: 22px;
      line-height: 122%;
      margin: 37px 0px 25px;
    }

    ul li{
      margin: 10px 0;

      span{
        width: auto;
      }
    }
  }
}

.main_modelos_inflaveis{

  h2{
    margin: 95px 0 59px;
    text-align: center;
    font: normal normal bold 38px/60px Overpass;
    letter-spacing: 0px;
    color: #214596;
  }
  span{
    margin-top: 50px;
    font: normal normal bold 18px/26px Overpass;
    letter-spacing: 0px;
    color: #214596;
    text-align: center;
  }

  p{
    margin-top: 135px;
    margin-bottom: 93px;
    text-align: center;
    font: normal normal normal 18px/26px Overpass;
    letter-spacing: 0px;

    a{
      color: #DA3122;
    }
  }

}

.main_galeria_de_imagens{
  background-color: #F8F8F8;

  h6.section-sub-title{
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 3px;
    color: #DA3122;
  }

  h3.heading{
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #333333;
  }

  a.ht-btn{
    background-color: #DA3122;
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
}

.main_satisfacao{

  h6.section-sub-title{
    text-align: center;
    font: normal normal bold 15px/26px Overpass;
    letter-spacing: 3px;
    color: #1E4390;
  }

  h3.heading{
    text-align: center;
    font: normal normal bold 38px/60px Overpass;
    letter-spacing: 0px;
    color: #333333;
  }

  .author-info{

    .name{
      text-align: left;
      font: normal normal bold 15px/26px Overpass;
      letter-spacing: 0px;
      color: #393E4A;
    }

    .designation{
      text-align: left;
      font: normal normal normal 13px/26px Overpass;
      letter-spacing: 0px;
      color: #393E4A;
    }
  }

  .testimonial-slider__text{
    text-align: left;
    font: normal normal normal 14px/26px Overpass;
    letter-spacing: 0px;
    color: #393E4A;
  }

  @media (max-width: 550px){
    .testimonial-slider__media{
      margin-right: 0;
    }
    .testimonial-slider__author .testimonial-rating{
      text-align: center;
    }
  }
}

.main_balonismo{

  .section-sub-title{
    text-align: left;
    font: normal normal bold 50px/60px Overpass;
    letter-spacing: 0px;
    color: #DA3122;
  }

  .heading{
    text-align: left;
    font: normal normal bold 18px/26px Overpass;
    letter-spacing: 0px;
    color: #393E4A;
  }

  p{
    text-align: left;
    font-size: 15px;
    font-family: Overpass;
    font-weight: 500;
    letter-spacing: 0px;
    color: #393E4A;
  }

  a.ht-btn{
    margin: 0;
    background-color: #DA3122;
  }

  @media (max-width: 550px) {
    .rv-video-section{
      margin: 0 auto;
      margin-bottom: 180px;
      max-width: 280px;
      margin-top: 120px;
    }
  }

}

.blog-section-wrapper{

  .post-date{
    text-align: left;
    font: normal normal normal 15px/26px Overpass;
    letter-spacing: 0px;
    color: #FDD302;
  }
  .post-title{
    text-align: left;
    font: normal normal normal 28px/34px Overpass;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .post-excerpt{
    text-align: left;
    font: normal normal normal 14px/26px Overpass;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .btn-text a{
    text-align: left;
    font: normal normal normal 15px/26px Overpass;
    letter-spacing: 0px;
    color: #FDD302;

    i{
      font-size: 10px;
    }
  }
}

.footer-area-wrapper{

  .footer-widget__title{
    text-align: left;
    font: normal normal bold 18px/26px Overpass;
    letter-spacing: 0px;
    color: #393E4A;
  }

  .main_ts_about{

    p{
      padding-right: 60px;
    }
  }

  .main_ts_social_media{

    ul{
      display: flex;
      justify-content: space-between;

      li{

        a{

          i{
            font-size: 26.84px;
            color: #393E4A;
          }
          img{
            width: 24.84px;
          }
        }
      }
    }
  }
}


.breadcrumb-area.main_ts_our_history{
  background-image: url('../images/bg/background-01.png');
}

.timeline-area{

  h6.heading{
    text-align: left;
    font-size: 22px !important;
    font-weight: bold;
    font-family: CerebriSans;
    letter-spacing: 0px;
    color: #393E4A;
  }

  .text{
    text-align: left;
    font-size: 14px !important;
    font-weight: 500;
    font-family: CerebriSans;
    letter-spacing: 0px;
    color: #333333;
  }
}

.main_festivais{
  height: 306px;

  .container{
    height: 306px;
    justify-content: space-evenly;
  }

  h2{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: CerebriSans;
    letter-spacing: 0px;
    color: #FDD302;
  }

  .festivais_lugares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    span{
      text-align: left;
      font-size: 18px;
      font-weight: bold;
      font-family: CerebriSans;
      letter-spacing: 0px;
      color: #FFFFFF;
    }
  }


}

.main_campeonatos{

  background-color: #FDD302;
  height: 382px;

  .container{
    height: 382px;
    justify-content: space-evenly;
  }

  h2{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: CerebriSans;
    letter-spacing: 0px;
    color: #DB3122;
  }

  .campeonatos_lugares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
    }

    span{
      text-align: left;
      font-size: 18px;
      font-weight: bold;
      font-family: CerebriSans;
      letter-spacing: 0px;
      color: #393E4A;

      i{
        color: #DB3122;
      }
    }
  }

}

@media (max-width: 550px){
  .main_campeonatos{
    height: 482px;

    .container{
      height: 482px;

      .campeonatos_lugares{

        ul{
          display: block;

          li{
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}

.main_ts_bg_contato{
  background-image: url('../images/bg/background-02.jpg');
}

button.ht-btn.ht-btn-md.bg-spotlight{
  text-align: left;
  font-family: Cerebrisans;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #FFFFFF;

  i{
    margin-left: 20px;
    font-size: 24px;
    vertical-align: middle;
  }
}

.main_ts_maps{
  position: relative;
  bottom: -10px;
}

.main_ts_duvidas{
  background-image: url('../images/bg/background-03.jpg');
}

.main_duvidas_frequentes{

  h3.heading{
    text-align: center;
    font-size: 38px;
    font-family: Cerebrisans;
    font-weight: 700;
    letter-spacing: 0px;
    color: #333333;
  }

  .faq-wrapper{

    .card-header{

      h5{

        button{
          text-align: left;
          font-size: 18px;
          font-weight: bold;
          font-family: Cerebrisans;
          letter-spacing: 0px;
          padding: 20px 40px;

          span{

            i{
              font-size: 24px;
            }
          }
        }

      }
    }
  }
}

.main_ts_inflaveis_promocionais{
  background-image: url('../images/bg/background-04.jpg');
}

.main_inflaveis_promocionais_descricao{

  h3.heading{
    font-size: 38px;
    font-weight: bold;
    font-family: Cerebrisans;
  }

  .section-descricao{

    h3{
      margin: 45px 0 27px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      font-family: Cerebrisans;
      color: #393E4A;
    }
    p{
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      font-family: Cerebrisans;
      letter-spacing: 0px;
      color: #393E4A;
    }
  }

  .feature-list-button-box{

    a{
      font-size: 16px;
      font-family: Cerebrisans;
      font-weight: bold;
      letter-spacing: -0.48px;

      i{
        vertical-align: middle;
        font-size: 24px;
        margin-left: 24px;
      }
    }
  }
}

.main_inflaveis_promocionais_imagens{

  h3.heading,
  h6.section-sub-title{
    font-family: Cerebrisans;
  }
}

.main_vantangens{

  @media (max-width: 550px){
    h2{
      margin-top: 75px!important;
    }
  }

  h2{
    margin-top: 150px;
    margin-bottom: 42px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #333333;
  }
  h4{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #393E4A;
  }

  ul {

    li{
      display: flex;
      margin-bottom: 84px;
      line-height: 26px;
      text-align: left;
      font-weight: bold;
      font-size: 22px;
      font-family: Cerebrisans;
      color: #DB3122;

      i{
        margin-right: 16.33px;
        color: #333333;
      }
    }
  }
}

.main_about_inflaveis_promocionais{
  padding: 40px 0;

  h2{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #333333;
  }

  p{
    font-weight: 500;
  }
}

.machine-learning-service-area{

  h3.heading{
    text-align: center;
    font-family: Cerebrisans;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0px;
  }

  .feature-images__five{

    .image-box-wrap{
      padding: 0 !important;

      .box-image{
        height: auto !important;

        img{
          width: 100%;
          box-shadow: 1px 5px 5px #00000029;
        }
      }

      .content{

        h5{
          text-align: center;
          font-size: 22px;
          font-weight: 700;
          font-family: Cerebrisans;
          letter-spacing: 0px;
          color: #393E4A;
          margin: 0 20px;
        }

        .text{
          padding: 17px 33px 51px;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          font-family: Cerebrisans;
          letter-spacing: 0px;
        }
      }
    }

  }
}

.main_diferenciais_promocionais{

  h2{
    margin: 0px 0 37px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #333333;
  }
  h4{
    margin-bottom: 81px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #85888F;
  }

}

.main_como_usar{

  h2{
    margin: 92px 0 60px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #333333;
  }

  .list_como_usar{

    ul{

      li{
        text-align: left;
        letter-spacing: 0px;
        color: #393E4A;
        margin-bottom: 6px;
        font-weight: 500;
        line-height: 140%;

        i{
          margin-right: 13px;
          font-size: 8px;
          color: #333333;
        }
      }
    }

    @media (max-width: 500px){
      ul{
        margin-top: 40px;
      }
    }
  }
}

.price_tenda_inflaveis{
  margin-top: 170px;

  h2{
    text-align: left;
    font-weight: bold;
    font-size: 38px;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 37px;
  }
  p{
    text-align: left;
    font-size: 14px;
    font-family: Cerebrisans;
    font-weight: 400;
    letter-spacing: 0px;
    color: #393E4A;
    margin-bottom: 83px;
    margin-right: 160px;
  }
  h3{
    text-align: left;
    font-size: 32px;
    font-family: Cerebrisans;
    font-weight: bold;
    letter-spacing: 0px;
    color: #DA3122;
    opacity: 1;
  }

  form{
    width: 406px;
    height: 950px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C9C3C3;
    border-radius: 9px;
  }

  @media (max-width: 550px){
    p{
      margin-right: 0;
    }
    form{
      width: 100%;
    }
  }

}

.main_video_montagem{
  h3.heading{
    text-align: center;
    font-size: 38px;
    font-family: Cerebrisans;
    font-weight: bold;
    letter-spacing: 0px;
    color: #333333;
  }

  h6{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: Cerebrisans;
    letter-spacing: 3px;
    color: #393E4A;
    margin: 0 15px 50px;
  }
}

.main_modelos_tenda{
  margin-top: 93px;

  h3{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    font-family: Cerebrisans;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #532D2D;
    letter-spacing: 0px;
    color: #DB3122;
  }

  h6{
    margin-bottom: 50px;
    text-align: center;
    font-family: Cerebrisans;
    font-size: 14px;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #532D2D;
    letter-spacing: 0px;
    color: #9EA5B5;
    opacity: 1;
  }

  h4{
    margin-bottom: 37px;
    margin-top: 27px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: Cerebrisans;
    letter-spacing: 3px;
    color: #393E4A;
    opacity: 1;
  }

}

.main_tabela_cores{
  margin-top: 101px;

  h2{
    text-align: center;
    font-size: 38px;
    font-weight: Cerebrisans;
    font-weight: bold;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #532D2D;
  }

  @media (max-width: 550px){
    h2{
      font-size: 25px;
    }
  }
}

.main_question_promocionais{
  margin-top: 177px;

  h3.heading{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Cerebrisans;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
  }
}

.main_ts_bg_galeria_imagens{
  background-image: url('../images/bg/background-05.jpg');
}

.main_galeria_imagens{

  h3.section-title{
    text-align: center;
    font-size: 38px;
    font-family: Cerebrisans;
    font-weight: bold;
    letter-spacing: 0px;
  }

  .ht-tab__content{

    .wrap_resultados{
      margin-bottom: 63px;
      text-align: center;

      img{
        box-shadow: 1px 5px 5px #00000029;
        margin-bottom: 24px;
      }

      span{
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        font-family: Cerebrisans;
        letter-spacing: 0px;
        color: #DB3122;
      }
      h6{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        font-family: Cerebrisans;
        letter-spacing: 0px;
        color: #393E4A;
      }
    }
  }
}

.main_ts_bg_blog{
  background-image: url('../images/bg/background-06.jpg');
}

.blog-pages-wrapper{

  .single-blog-item{

    h4.post-title{
      text-align: left;
      font-size: 32px;
      font-weight: bold;
      font-family: Cerebrisans;
      letter-spacing: 0px;

      a{
        color: #393E4A;
      }
    }

    .post-excerpt p{
      text-align: left;
      font-size: 14px;
      font-family: Cerebrisans;
      font-weight: 500;
      color: #393E4A;
    }

    .post-read-more{
      a{
        font-size: 15px;
        font-weight: 400;
        font-family: Cerebrisans;
        color: #FFFFFF;
      }
    }
  }
}

.main_ts_single{

  .main-blog-wrap{

    .single-blog-item{

      .post-info{

        h3.post-title{
          margin-top: 53px;
          text-align: center;
          font-weight: bold;
          font-size: 32px;
          font-family: Cerebrisans;
          color: #393E4A;
        }

        .post-meta{
          margin-top: 58px;
          margin-bottom: 53px;
          text-align: left;
          font-size: 14px;
          font-family: Cerebrisans;
          font-weight: 400;
          color: #686E7B;
        }

        .post-excerpt{

          .post-content{
            p{
              text-align: center!important;
              margin: 40px 0;
            }

            ul{
              text-align: left;
            }
          }

          .entry-post-share-wrap {

            .tagcloud-icon{

              span{
                margin-right: 13px;
              }

              font-size: 14px;
              font-family: Cerebrisans;
              font-weight: 400;
              color: #686E7B;
            }

            .entry-post-share{
              display: flex;
              flex-direction: row-reverse;
              justify-content: end;
              font-size: 14px;
              font-family: Cerebrisans;
              font-weight: 400;
              color: #686E7B;

              .share-media{

                span.share-icon{
                  animation: pulse 2s infinite;
                }
              }
            }
          }

          @keyframes pulse{
            0% {
                box-shadow: 0 0 0 0 rgba(104, 110, 123, 0.7);
            }

            70% {
                box-shadow: 0 0 0 10px rgba(104, 110, 123, 0);
            }

            100% {
                box-shadow: 0 0 0 0 rgba(104, 110, 123, 0);
            }
          }

          .related-posts-wrapper{

            h4.widget-title{
              font-size: 32px;
              font-family: Cerebrisans;
              font-weight: bold;
              color: #393E4A;
            }
            h6.post-title{
              font-size: 28px;
              font-family: Cerebrisans;
              font-weight: bold;
              color: #393E4A;
            }
          }

          .comment-list-wrapper{
            margin-top: 83px;

            h4.widget-title{
              font-size: 32px;
              font-family: Cerebrisans;
              font-weight: bold;
              color: #393E4A;
            }
          }


        }

      }
    }
  }
}

.main_ts_balonismo_bg{
  background-image: url('../images/bg/background-07.jpg');
}

.main_ts_balonismo{

  h3.section-title{
    font-size: 38px;
    font-family: Cerebrisans;
    font-weight: bold;
  }

  .ht-tab-wrap{

    .ht-tab-menu{

      li{

        a{
          padding: 20px 60px;
          background: #EFEBEB 0% 0% no-repeat padding-box;
          color: #393E4A;
          border-radius: 9px;
          font-size: 16px;
          font-family: Cerebrisans;
          font-weight: bold;
          letter-spacing: -0.48px;


        }
        a.active{
          background: #FFFFFF 0% 0% no-repeat padding-box !important;
          border: 1px solid #DA3122 !important;
          color: #DA3122 !important;
        }
      }
    }

  }
}

.main_paixao_balonismo{
  margin-bottom: 132px;

  h2{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    font-family: Cerebrisans;
    color: #393E4A;
  }

  h4{
    margin: 23px 50px 35px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Cerebrisans;
    color: #393E4A;
  }
  @media (max-width: 550px){
    h4{
      margin: 23px 0 35px;
    }
  }

  .descricao{
    h6{
      margin-bottom: 36px;
      text-align: left;
      font-weight: 800;
      font-size: 38px;
      font-family: Cerebrisans;
      color: #393E4A;
    }
    p{
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      font-family: Cerebrisans;
      color: #393E4A;
    }
  }
}

.main_ts_baloes_convencionais{
  padding: 104px 0 110px;

  h2{
    margin-bottom: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    font-family: Cerebrisans;
    color: #DB3122;
  }

  h3{
    text-align: center;
    margin: 50px 0 26px;
    font-size: 28px;
    font-weight: bold;
    font-family: Cerebrisans;
    color: #DB3122;
  }

  h4{
    margin-bottom: 50px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    font-family: Cerebrisans;
    color: #393E4A;
  }

  img{
    box-shadow: 1px 5px 5px #00000029;
  }

  .ht-btn.ht-btn-md{
    letter-spacing: -0.48px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Cerebrisans;
    color: #fff
  }


}

.main_ts_baloes_special_shape{

  padding: 65px 0 115px;
  background-color: #DB3122;

  h2{
    margin-bottom: 23px;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    font-family: Cerebrisans;
    color: #fff;
  }

  h4{
    margin-bottom: 50px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Cerebrisans;
    color: #fff;
  }

  img{
    box-shadow: 1px 5px 5px #00000029;
  }

  .ht-btn.ht-btn-md{
    background-color: #FDD302;
    letter-spacing: -0.48px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Cerebrisans;
    color: #DB3122;
  }

}

.main_balonismo_profissional{
  padding: 111px 0 169px;

  h3{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Cerebrisans;
    color: #393E4A;
  }
  h6{
    margin: 23px 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Cerebrisans;
    color: #393E4A;
  }
  h4{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: Cerebrisans;
    color: #DB3122;
  }

  .main_types_actions{
    margin-bottom: 90px;

    h3{
      margin: 143px 0 43px;
      text-align: left;
      font-size: 28px;
      font-weight: bold;
      font-family: Cerebrisans;
      color: #393E4A;
    }
    p{
      font: normal normal medium 14px/26px Cerebri Sans;
      font-size: 14px;
      font-family: Cerebrisans;
      font-weight: 400;
      color: #393E4A;
    }

    @media (max-width: 550px) {
      img{
        margin-top: 20px!important;
      }
      h3{
        margin: 30px 0 43px;
      }
    }
  }
}

.main_competicao_balonismo{

  h2{
    color: #393E4A;
  }

  .wrap_competicao{
    margin-bottom: 60px;

    h3{
      margin-top: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      font-family: Cerebrisans;
      color: #393E4A;
    }
  }
}

.main_newsletter {
  padding: 40px 0;
  font-family: Cerebrisans;

  h6{
    font-size: 14px;
    line-height: 190%;
    margin: 0;
    max-width: 485px;
    color: #FFF;
    margin-top: -12px;

    strong{
      font-size: 24px;
      font-weight: 400;
    }
  }

  label{
    color: #FFF;
    font-weight: bold;
    font-size: 1.125rem;

  }

  input{
    width: 215px;
    height: 52px;
    line-height: 52px;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 1.125rem;
  }

  button{
    background: #FDD302;
    color: #1F509D;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    height: 52px;
    line-height: 52px;
    border-radius: 5px;
    padding: 0 35px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    margin-top: 20px;
  }
}
